:root {
  --indigo: #1773ff;
  --light-grey: #f9f9f9;
}

body {
  position: relative;
}

.brand {
  color: var(--indigo);
}

.about-me {
  background-color: var(--light-grey);
  font-size: 1.15rem;
}

@media (max-width: 414px) {
  .graphic-1 {
    display: none;
  }
}
